<template>
  <img
    :draggable="!card.isDown"
    :src="
      card.isDown
        ? `/cards/cardBack_red2.png`
        : `/cards/card${card.suit}${card.value}.png`
    "
    alt=""
  />
</template>

<script>
export default {
  props: {
    card: Object,
  },
};
</script>

<style></style>
