<template>
  <div droppable class="holder"></div>
</template>

<script>
export default {};
</script>

<style scoped>
.holder {
  width: 140px;
  height: 190px;
  background-color: green;
  border-radius: 6px;
}
</style>
