<template>
  <button><slot></slot></button>
</template>

<script>
export default {};
</script>

<style scoped>
button {
  display: flex;
  padding: 12px 18px 12px 18px;
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
}
</style>
