<template>
  <main class="main">
    <div class="popup" v-if="hasWon">
      <div class="popup-box">
        <img src="./assets/golden_trophy.png" />
        <p class="popup-box_text">You have won!</p>
        <restart-button @click="restartGame">Play Again</restart-button>
      </div>
    </div>
    <div class="container">
      <div class="restart">
        <restart-button @click="restartGame">Restart</restart-button>
      </div>
      <div class="wrapper">
        <div class="waste-stock-wrapper">
          <div @click="onStockClick" class="stock">
            <div v-if="solitaireState.stock.length != 0">
              <Card :card="solitaireState.stock[0]" />
            </div>
            <div v-else>
              <holder />
            </div>
          </div>
          <div class="waste">
            <div v-if="solitaireState.waste.length != 0">
              <Card
                @dragstart="dragFromWaste"
                @dragover.prevent
                @dragenter.prevent
                :card="solitaireState.waste[solitaireState.waste.length - 1]"
              />
            </div>
          </div>
        </div>
        <div class="foundations">
          <div
            class="foundation"
            v-for="(foundation, i) in solitaireState.foundations"
            :key="i"
            @drop="onFoundationDrop($event, i)"
            @dragover.prevent
            @dragenter.prevent
          >
            <div>
              <div v-if="foundation.length == 0">
                <holder />
              </div>
              <div v-else>
                <card
                  @dragstart="dragFromFoundation($event, i, j)"
                  @dragover.prevent
                  @dragenter.prevent
                  :card="foundation[foundation.length - 1]"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="piles">
        <div class="" v-for="(pile, i) in solitaireState.piles" :key="i">
          <div
            class="pile"
            @drop="onPileDrop($event, i)"
            @dragover.prevent
            @dragenter.prevent
          >
            <div v-if="pile.length == 0">
              <holder />
            </div>
            <div v-else v-for="(card, j) in pile" :key="card.id">
              <div :id="`card-${card.id}`" class="card-wrapper">
                <Card
                  @dragstart="dragFromPile($event, i, j)"
                  @dragover.prevent
                  @dragenter.prevent
                  :card="card"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Card from "./components/Card.vue";
import Holder from "./components/Holder.vue";
import RestartButton from "./components/RestartButton.vue";
import Solitaire from "./service/solitaire";

const service = new Solitaire();
export default {
  name: "App",
  components: {
    Card,
    Holder,
    RestartButton,
  },
  data() {
    return {
      solitaireState: {},
      hasWon: false,
    };
  },
  created() {
    this.syncState();
  },
  mounted() {
    //create a new deck
  },
  methods: {
    syncState() {
      this.solitaireState = service.state();
      this.hasWon = service.hasPlayerWon();
    },
    dragFromWaste: (ev) => {
      ev.dataTransfer.dropEffect = "move";
      ev.dataTransfer.effectAllowed = "move";
      let obj = { from: "waste" };
      ev.dataTransfer.setData("data", JSON.stringify(obj));
    },
    dragFromPile(ev, pile, startIndex) {
      let obj = { from: "pile", pile, startIndex };

      ev.dataTransfer.dropEffect = "move";
      ev.dataTransfer.effectAllowed = "move";
      ev.dataTransfer.setData("data", JSON.stringify(obj));
    },
    dragFromFoundation: (ev, foundation) => {
      ev.dataTransfer.dropEffect = "move";
      ev.dataTransfer.effectAllowed = "move";
      let obj = { from: "foundation", foundation };
      ev.dataTransfer.setData("data", JSON.stringify(obj));
    },

    onPileDrop(ev, destination) {
      const data = JSON.parse(ev.dataTransfer.getData("data"));
      if (data.from == "waste") {
        service.moveFromWasteToPile(destination);
      }
      if (
        data.from == "pile" &&
        data.pile != undefined &&
        data.startIndex != undefined
      ) {
        service.moveFromPileToPile(data.pile, destination, data.startIndex);
      }
      if (data.from == "foundation" && data.foundation != undefined) {
        service.moveFromFoundationToPile(data.foundation, destination);
      }
      this.syncState();
    },
    onFoundationDrop(ev, foundation) {
      const data = JSON.parse(ev.dataTransfer.getData("data"));
      if (data.from == "waste") {
        service.moveFromWasteToFoundation(foundation);
      }
      if (data.from == "pile" && data.pile != undefined) {
        service.moveFromPileToFoundation(data.pile, foundation);
      }
      this.syncState();
    },
    onStockClick() {
      service.pickFromStock();
      this.syncState();
    },
    restartGame() {
      service.restartGame();
      this.syncState();
    },
  },
};
</script>

<style>
.container {
  padding: 32px;
  max-width: 1024px;
  margin: 0 auto;
}
:root {
  --card-height: 190px;
}

.piles {
  display: flex;
  justify-content: space-between;
}

.restart {
  margin-bottom: 16px;
}

.waste-stock-wrapper {
  display: flex;
}

.wrapper {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.foundations {
  display: flex;
}

.placeholder {
  max-width: 140px;
  position: absolute;
  left: -1000px;
}

.foundation {
  padding: 0px 0px 0px 8px;
}
.stock {
  margin-right: 8px;
}

.pile {
  padding: 0px 8px 0px 0px;
}
.card-wrapper {
  margin-bottom: calc(var(--card-height) - (var(--card-height) + 150px));
  max-width: 140px;
  max-height: 100%;
}

.main {
  background-color: #34a249;
  height: 100vh;
}

.popup {
  position: absolute;

  top: calc(50% - 400px);
  left: calc(50% - 297px);
}

.popup-box {
  background-color: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-box_text {
  font-size: 80px;
  color: #f7de4b;
  font-family: "Fruktur";
  text-align: center;
  margin: 0;
  padding: 0;
}
</style>
